:root{
  /* --navbar-bg-color:#151e3d; */
  --navbar-bg-color:white;
  --navbar-text-color:black;
  --footer-bg-color:black;
  --footer-text-color:#767676;
  --button-bg-color:black;
  --button-text-color:white;
  /* --category-bg-color:rgb(33,37,41); */
  --category-bg-color:white;
  --text-color:black;
  --handpicked-bg-color:white;
  --product-bg-color:white;

}

body{
  overflow-x:hidden;
}
.App {
  text-align: center;
  font-size: 1.2em;
}
.logo img{
  height: 2rem;
  width: 5rem;
  margin-right: 0.5rem;
}
.navbar{
  background-color: var(--navbar-bg-color) !important;
}
.navtext{
  color: var(--navbar-text-color);
}
.navtext:hover{
  color: var(--navbar-text-color);
  opacity:85%;
  text-decoration: underline;
}

.btn:hover{
  color:white;
}

.sign:hover{
  color:white;
}
/* .button{
  background-color: var(--button-bg-color);
}
.button h5{
  color: var(--button-text-color);
  font-size: 20px;
}
.button:hover{
  background-color: var(--button-bg-color);
  opacity:85%;
}
.button h5:hover{
  color: var(--button-text-color);
} */

a,a:hover{
  /* color:white; */
  text-decoration: none;
}  

/* .card-link,.card-link:hover{
  color:blue;
}   */

.category{
  background-color: var(--category-bg-color);
  color:var(--text-color);
  text-decoration:underline;
}

.categoryTitle{
  /* color:black; */
  font-size: 1rem;
  text-align: center;
  font-weight: 400;
  /* color: #767676; */
  letter-spacing: 0.5px;
  text-decoration: none;
}


.handpicked{
  background-color: var(--handpicked-bg-color);
  color:var(--text-color);
  text-decoration:underline;
}



.product{
  /* background: linear-gradient(to right, var(--product-bg-color)); */
  /* margin:10px; */
  background-color: var(--product-bg-color);
  padding:20px;
  color:var(--text-color);
}

.footer, .footer a{
  background-color: var(--footer-bg-color);
  color:var(--footer-text-color);
  /* justify-content: center; */
  /* text-align: center; */
  font-size: 13px;
}
.footer,.footer ul{
  text-align: left;
  /* margin:0; */
  padding:0;
}

.footerLogo{
  height:auto;
  width: 16rem;
}
.footerLogo img{
  width: 5rem;
  height:2rem;
  /* margin-top: 2rem;
  margin-bottom: 2rem; */
}
.footer span{
  color:white;
}
/* landing page */


.cont{
  background-color: #efeff1;
}

.flexParts{
  flex-basis:50%;
  margin:auto 0.5rem;
}
.flexParts h2{
  font-size:1rem;
}
.flexParts h1{
  color:black;
  text-decoration: underline;
  margin:1em;
}

.container>.col-6 {
  flex: 0 1 50%;
}

.card{
  border:none;
}

.card-title{
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #767676;
  letter-spacing: 0.5px;
}

.brand{
  text-align: left;
  color:black;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.price{
  text-align: left;
  color: #E85272;
  font-size: 15px;
    font-weight: 600;
}

.categoryCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.categoryCard img{
height: 20rem;
width: 15rem;
}