:root{
  --navbar-bg-color:#151e3d;
  --navbar-text-color:white;
  --button-bg-color:black;
  --button-text-color:white;
  /* --category-bg-color:rgb(33,37,41); */
  --category-bg-color:white;
  --text-color:black;
  --handpicked-bg-color:white;
  --product-bg-color:rgb(64, 181, 179), rgb(60, 69, 88);

}

body{
  overflow-x:hidden;
}
.App {
  text-align: center;
  font-size: 1.2em;
}
.logo img{
  height: 1.4rem;
  width: 4rem;
  margin-right: 0.5rem;
}
.navbar{
  background-color: var(--navbar-bg-color) !important;
}
.navtext{
  color: var(--navbar-text-color);
}
.navtext:hover{
  color: var(--navbar-text-color);
  opacity:85%;
  text-decoration: underline;
}

.btn:hover{
  color:white;
}

.sign:hover{
  color:white;
}
.button{
  background-color: var(--button-bg-color);
}
.button h5{
  color: var(--button-text-color);
}
.button:hover{
  background-color: var(--button-bg-color);
  opacity:85%;
}
.button h5:hover{
  color: var(--button-text-color);
}

a,a:hover{
  /* color:white; */
  text-decoration: none;
}  

/* .card-link,.card-link:hover{
  color:blue;
}   */

.category{
  background-color: var(--category-bg-color);
  color:var(--text-color);
  text-decoration:underline;
}


.handpicked{
  background-color: var(--handpicked-bg-color);
  color:var(--text-color);
  text-decoration:underline;
}



.product{
  background: linear-gradient(to right, var(--product-bg-color));
  /* margin:10px; */
  padding:20px;
  color:var(--tex)
}

.footer, .footer a{
  background-color: var(--navbar-bg-color);
  color:var(--navbar-text-color);
  font-size: 1.1em;
  justify-content: center;
  text-align: center;
}
.footerLogo img{
  width: 6rem;
  height:3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
